<div class="container p-4">
    <div class="row">
        <div class="col-lg-4 col-md-4 px-4 text-center">
            <div class="row justify-content-center ">
                <img src="./assets/img/main.png" alt="" class="img-fluid mx-0 main-img ">
            </div>
            <div class="row justify-content-center m-2 m-md-1">
                <a href="https://www.linkedin.com/in/thiwanka-sandakalum-052801220/" target="_blank" class="social-links col">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://twitter.com/Thiwank53847219" target="_blank" class="social-links col">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://web.facebook.com/Thiwanka2002" target="_blank" class="social-links col">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://github.com/Thiwanka-Sandakalum" target="_blank" class="social-links col">
                    <i class="bi bi-github"></i>
                </a>
                <a href="" target="_blank" class="social-links col">
                    <i class="bi bi-medium"></i>
                </a>
                
            </div>
        </div>
        <div class="col-lg-8 col-md-8 px-4 py-5 bg-dark text-white ">
            <div class="row ">
                <h1 class="text-uppercase fw-bold">
                    Thiwanka Sandakalum
                </h1>
                <h6 class="text-warning fs-6 fw-light">
                    Creating Innovative Solutions for a More Convenient Life!
                </h6>
            </div>
            <p class="mt-4">
                I am a dedicated software developer with a passion for problem-solving and a relentless desire to learn.
                My journey in the world of technology has been shaped by my experience as a freelance developer, where
                I've had the opportunity to tackle diverse challenges and expand my skill set. With each project, I've
                grown more adept at crafting innovative solutions and adapting to ever-evolving industry trends. My
                enthusiasm for learning and my commitment to excellence drive me to continually seek out new challenges
                and opportunities to make a meaningful impact in the realm of software development.
            </p>

            <!-- ... (existing content) ... -->

            <button (click)="downloadCV()" class="btn btn-primary btn-sm d-inline-block">
                Download CV
            </button>

            <!-- Social media links -->

        </div>
    </div>
</div>