.main-img {
    width: 400px;
    height: auto;
}


/* YourComponent.css */
.social-links {
    font-size: 24px;
    margin-right: 10px;
    color: #007bff;
    /* Blue color for the icons */
}



.social-links:hover {
    color: #0056b3;
    /* Darker blue on hover */
}


/* Define a class for the social links */
.social-links {
    font-size: 24px;
    margin-right: 10px;
    color: #007bff;
    /* Default color for the icons */
    transition: color 0.3s, transform 0.3s;
    /* Add transitions for color and transform */
}

/* Hover effect */
.social-links:hover {
    color: #0056b3;
    /* New color on hover */
    transform: scale(1.2);
    /* Scale the icon up slightly on hover */
}



@media (orientation:portrait) {
    .main-img {
        width: 250px;
        height: auto;
    }

    .container {
        height: fit-content;
    }
}

@media (orientation: landscape) {
    .container {
        height: fit-content;
    }
}