<nav class="navbar navbar-expand fixed-top container" [ngClass]="{'fixed-top': isNavbarVisible}">
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav rounded-pill bg-dark shadow-lg-warning">
      <li class="nav-item">
        <a routerLink="about" class="nav-link text-light fw-bold">About</a>
      </li>
      <li class="nav-item">
        <a routerLink="blog" class="nav-link text-light fw-bold">Articles</a>
      </li>
      <li class="nav-item">
        <a routerLink="portfolio" class="nav-link text-light fw-bold">Projects</a>
      </li>
    </ul>
  </div>
</nav>