<app-about></app-about>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-8 exp-section">
      <h2>Experience</h2>
      <div class="card mb-3 ">
        <div class="card-body bg-warning">
          <h5 class="card-title text-light name">Freelance Software Developer</h5>
          <!-- <p class="card-text text-secondary">2  year of experience</p> -->
          <p class="text-dark">
            I have experience in freelancing software development, specializing in frontend, backend, and
            cloud technologies. During this time, I have worked on various projects, gaining valuable skills and
            expertise in delivering innovative and efficient solutions to clients.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Education</h2>
      <div class="card mb-3 ">
        <div class="card-body bg-dark">
          <h5 class="card-title text-light">Bachelor's Degree in Computer Science</h5>
          <p class="card-text text-secondary">Uva Wellassa University of Sri Lanka<br>2024</p>
        </div>
      </div>
      <div class="card mb-3 bg-dark">
        <div class="card-body">
          <h5 class="card-title text-light">Full Stack Developer Programme</h5>
          <p class="card-text text-secondary">University of Moratuwa<br>2022</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="row justify-content-center align-items-center mt-5">
    <div class="col text-center">
      <h2 class="mb-2 text-dark">Technologies Expertise</h2>
      <div class="row  text-light pt-2 bg-dark">
        <div class="col">
          <div class="tech-icon">
            <img src="./assets/img/tech logo/html.png" class="skill-icon" alt="HTML">
            <p class="icon-label">HTML5</p>
          </div>
        </div>
        <div class="col">
          <div class="tech-icon">
            <img src="./assets/img/tech logo/css.png" class="skill-icon" alt="CSS">
            <p class="icon-label">CSS3</p>
          </div>
        </div>
        <div class="col">
          <div class="tech-icon">
            <img src="./assets/img/tech logo/js.png" class="skill-icon" alt="JavaScript">
            <p class="icon-label">JavaScript</p>
          </div>
        </div>
        <div class="col">
          <div class="tech-icon">
            <img src="./assets/img/tech logo/py.png" class="skill-icon" alt="Python">
            <p class="icon-label">Python</p>
          </div>
        </div>
        <div class="col">
          <div class="tech-icon">
            <img src="./assets/img/tech logo/dijango.png" class="skill-icon" alt="Django">
            <p class="icon-label">Django</p>
          </div>
        </div>
        <div class="col">
          <div class="tech-icon">
            <img src="./assets/img/tech logo/azure.png" class="skill-icon" alt="Azure">
            <p class="icon-label">Azure Cloud</p>
          </div>
        </div>
        <div class="col">
          <div class="tech-icon">
            <img src="./assets/img/tech logo/Docker.webp" class="skill-icon" alt="HTML">
            <p class="icon-label">Docker</p>
          </div>
        </div>
        <div class="col">
          <div class="tech-icon">
            <img src="./assets/img/tech logo/sql.png" class="skill-icon" alt="HTML">
            <p class="icon-label">SQL</p>
          </div>
        </div>
        <div class="col">
          <div class="tech-icon">
            <img src="./assets/img/tech logo/mongodb.png" class="skill-icon" alt="HTML">
            <p class="icon-label">mongoDB</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container  text-dark mb-5">
  <!-- Interests Section -->
  <h2 class="my-5">Interests</h2>
  <div class="row row-cols-auto">
    <div class="col">
      <div class="text-center">
        <i class="bi bi-globe fs-4"></i>
        <p>Social Science</p>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <i class="bi bi-tools fs-4"></i>
        <p>Agri-Tech</p>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <i class="bi bi-code fs-4"></i>
        <p>Programming</p>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <i class="bi bi-cash fs-4"></i>
        <p>Economy</p>
      </div>
    </div>
  </div>
</div>

<footer class="bg-dark text-light py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h5>Connect with me</h5>
              <ul class="list-unstyled">
                  <li>
                      <a href="https://www.linkedin.com/in/thiwanka-sandakalum-052801220/" target="_blank">
                          <i class="bi bi-linkedin"></i> LinkedIn
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/Thiwanka-Sandakalum" target="_blank">
                          <i class="bi bi-github"></i> GitHub
                      </a>
                  </li>
                  <li>
                      <a href="https://twitter.com/Thiwank53847219" target="_blank">
                          <i class="bi bi-twitter"></i> Twitter
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-md-6">
              <h5>Contact Us</h5>
              <ul class="list-unstyled">
                  <li>
                      <i class="bi bi-envelope"></i> Email: thiwanka2002sandakalum@gmail.com
                  </li>
              </ul>
          </div>
      </div>
      <hr>
      <p class="text-center">&copy; 2023 Thiwanka Sandakalum</p>
  </div>
</footer>